

/* @media (min-height) */



.parallax {
    background-image: url('/static/img/personal-photo.png');

    /* min-height: 100%; */
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */

    
    /* padding: 3rem; */

    /* max-width: 100%; */
    /* height: auto; */
    /* height: 10px; */
    /* width: 10px; */
    /* margin-top: 1.5rem; */
    /* margin-bottom: 1.5rem; */
    /* background-size: contain; */
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
/*         
        margin-top: 10rem; */
        /* margin-bottom: 10rem; */

        min-height: 92vh;
        max-height: 92vh;


        background-position: bottom;

        /* max-width: 100%; */
        max-width: 90%;
        /* height: auto; */
        /* max-height: 50vh; */
        margin-top: -1.5rem;
        /* margin-bottom: 1.5rem; */
        background-size: contain;

        margin-right: auto;
        margin-left: auto;
    }

    /* .about-title {
        margin-bottom: -3rem;
    } */
}